body {
    font-family: "Helvetica Neue";
    color: #111111;
    background-color: rgb(239, 241, 255);
    /* background-image: url(image/bg.png); */
    background-attachment: fixed;
    /* margin-right: 60px; */
    /* margin-left: 50px; */
    /* margin-top: 0px; */
    margin: 0;
}

body.dragging {
  background: #5ea05f;
}



#container {
    background-color: #fefdfc;
    padding: 40px 60px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* margin-top: 20px; */
    word-wrap: break-word;
    -webkit-box-shadow: 0px 0px 10px #888;
    box-shadow: 1px 5px 22px #00000024;
    margin-left: 220px;
    min-height: 100vh;
    margin-left: 270px;

     display: flex;
    flex-direction: column;
}

#content {
  position: relative;

	line-height: 1.5em;
}

p {
  margin: .4em 0 .5em 0;
  line-height: 1.5em;
}

#pageitems {
	-webkit-column-width: 180px;
	-webkit-column-gap: 20px;
	column-width: 180px;
	column-gap: 20px;
	-moz-column-width: 180px;
	-moz-column-gap: 20px;
}

#slider {
	width: 100%;
}

pre {
  word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0b0080;
}
a {
  text-decoration: none;
  color: #0645AD;
  background: none;
}

a:active {
  color: #FAA700;
}

a.notcached {
  opacity: 0.7;
}

a.new {
  color: #BA0000;
}
.rellink, .dablink {
  font-style: italic;
  padding-left: 1.6em;
  margin-bottom: 0.5em;
}

* {
  box-sizing: border-box;
}

#titlebar {
  position: absolute;
	top: 0px;
	left: 0;
  background-color: #e8e8e8;
  width: 100%;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E8E8E8), color-stop(1, #C7C7C7) );
}

#toolbar {
  box-sizing: border-box;
	    position: fixed;
    top: 0px;
    left: 0;
    padding: 20px 25px;
    width: 270px;
    bottom: 0;

     display: flex;
    flex-direction: column;
}


.spacer {
  flex-grow: 1;
}


#toolbar a:visited {
	color: #0645AD !important;
}



#search {
    border: 0;
    background: #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 22px;
    margin-bottom: 28px;
    /* color: white; */
    border: 1px solid rgba(141, 145, 255, 0.33);
    width: 100%;
    outline: 0;
    position: relative;
    z-index: 3;
}


#search:focus {
	box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.autocomplete {
	width: 254px;
	background-color: white;
	cursor: default;
	overflow-x: hidden;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.2);

     z-index: 1;

     border-radius: 5px;
    margin-top: 8px;
}

.autocomplete .item {
	width: 100%;
	
     padding: 0.2em 20px;
}


.autocomplete .item:hover {
  background-color: #e6edf7;
}


.autocomplete .item.highlight {
	/*background-color: #4C59A6;*/
	/*background-color: rgb(181, 213, 255);*/
	background-color: #cedced;
}

#title {
    margin-top: 3px;
    margin-bottom: 10px;
    /* min-height: 2.5em; */
    margin-bottom: 1em;
    word-wrap: break-word;
    /* padding-left: 18px; */
    border-bottom: 1px solid #2d3eb74f;
    color: #293373;
    padding-bottom: 5px;
}


table.wikitable {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

#outline ol {
  padding-left: 25px;
  /*list-style-type: none;*/
}

#outline {
  margin-right: 15px;
  font-weight: 300;
  /*border-top: 1px solid rgba(138, 153, 255, 0.48);*/
  opacity: 0.8;

  flex-shrink: 1;
  overflow: auto;


     font-size: 90%;
    line-height: 1.4;
}

#outline > ol {
  padding-left: 0;
  list-style-type: none;
}

#outline a.selected {
  font-weight: 500;
}

#nav {
  padding: 5px;
     display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}


footer {
	padding-top: 10px;
	font-size: x-small;
	
    margin-top: 40px;
    opacity: 0.6;
}

/*
#a55858
#333333
#0b0080
#520
*/

a.next, a.prev {
	font-weight: bold;
}

#download {
  /*position: absolute;
    width: 250px;
    right: 20px;
    top: 20px;
    background: #eff1ff;
    padding: 10px 20px;
    border-radius: 10px;
*/

  padding-top: 20px;
	/*margin-right: 15px;*/
	/*padding-right: 20px;*/
}
#status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#download progress {
  width: 100%;
  margin-top: 10px;
  display: block;
}

.unknown_box, .wikibox {
  font-family: monospace;
}


#toolbar a.logo {

      background: #4c63ff;
    color: white;
    margin: -20px -25px;
    margin-bottom: 21px;
    padding: 20px;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    display: block;
    color: white !important;
    text-decoration: none;
}


/*@media all and (max-width: 640px) {
  #container {
    margin-left: 0;
    margin-top: 10px;
  }
  footer {
    margin-left: 0;
  }
  #title {
    min-height: 0;
    overflow:hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
  }
  #autocomplete {
    position: absolute;
  }
  #nav {
    position: absolute;
    right: 155px;
    top: 0;
    padding-top: 12px;
  }
  #nav a {
    padding-right: 5px;
  }
  #search {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
  }
  #toolbar {
    position: fixed;
    top: 0px;
    left: 0;
    margin: 20px 35px;
    width: 240px;
    bottom: 0;
  }
  #outline {
    display: none;
  }
  #download {
    margin-left: 250px;
    margin-right: 0;
  }
  #status {
    position: absolute;
    left: 0;
    margin-top: -4px;
    width: 250px;
  }
}
*/